<!DOCTYPE html>
<html>
  <head>
    <title>WEIHAI connect</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  </head>
 <body>
<section>
<header>
  <div class="container-fluid">
    
    <div class="logo"><%= link_to image_tag("whlog.png", alt: "WEIHAI CONNECT", width: "300px"), root_path, class: 'navbar-brand' %>
    </div>
    
    <form class="navbar-form navbar-right">
        
     
        
          <%= link_to "SIGN UP", "#", class: 'btn btn-default navbar-btn', method: :get %>
          <%= link_to "LOG IN", "#", class: 'btn btn-default navbar-btn', method: :get %> 
        
      
        
    </form>
  </div>
  
  <div class="container-fluid container_fluid_shadow bluecolor">
    
    <nav class="site-nav">
      <ul>
        <li><%= link_to "MEMBERS", "#", class: "link" %></li>
        <li><%= link_to "GROUPS", "#", class: "link" %></li>
        <li><%= link_to "FORUM", "#", class: "link" %></li>
        <li><%= link_to "LISTINGS", "#", class: "link" %></li>
        <li><%= link_to "REVIEWS", "#", class: "link" %></li>
       
      </ul>
    </nav>
    
    
  </div>
 </header>
</section>

<div class="container">
 
  
<%= yield %>
</div> 
  </body>
</html>
